/*styling for skills page*/
.circular-chart {
    display: block;
    margin: 10px auto;
    width: 100px; 
    height: 100px; 
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.5;
}

.circle {
    fill: none;
    stroke-width: 3.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
/*styling for skills page*/